/*--public*/
.sem-section,.seo-section{overflow:hidden;}
.wrap-title{text-align:center;overflow:hidden;}
.wrap-title h2{font-weight:normal;font-size:48px;color:#000;}
.wrap-title h2 a{color:#000;}
.wrap-title p{margin-top:25px;font-size:20px;color:#222;}
.wrap-title i{display:block;margin:30px auto 0;width:196px;height:7px;background:url(../images/webseo/wrap_tit.png);}
@media (max-width:1599px) {
.wrap-title h2{font-size:41px;}
.wrap-title p{margin-top:21px;font-size:17px;}
}
/*--end public*/

/*--seo-section01--*/
.seo-section01{padding:80px 0 50px;overflow:hidden;background:#fff;}
.seo-section01-cont{margin-top:30px;overflow:hidden;}
.seo-section01-cont .list{margin:0 -25px;width:1450px;}
.seo-section01-cont .item{position:relative;float:left;width:20%;text-align:center;transition:all 2s ease-in-out;}
.seo-section01-cont .item i{display:block;margin:0 auto;width:168px;height:182px;}
.seo-section01-cont .item i img{display:block;width:100%;}
.seo-section01-cont .item .text{padding:10px 25px;overflow:hidden;}
.seo-section01-cont .item .text h3{font-size:24px;color:#222;}
.seo-section01-cont .item .text p{margin-top:10px;line-height:32px;font-size:18px;color:#222;}
.seo-section01-cont .item:nth-child(1){transform:translateX(100%);}
.seo-section01-cont .item:nth-child(2){transform:translateX(200%);}
.seo-section01-cont .item:nth-child(3){transform:translateX(300%);}
.seo-section01-cont .item:nth-child(4){transform:translateX(400%);}
.seo-section01-cont .item:nth-child(5){transform:translateX(500%);}
.seo-section01.active .seo-section01-cont .item{transform:translateX(0) !important;}
@media (max-width:1599px){
.seo-section01{padding:68px 0 42px;}
.seo-section01-cont{margin-top:25px;}
.seo-section01-cont .list{margin:0 -16px;width:1232px;}
.seo-section01-cont .item i{width:142px;height:154px;}
.seo-section01-cont .item .text{padding:10px 22px;}
.seo-section01-cont .item .text h3{font-size:20px;}
.seo-section01-cont .item .text p{line-height:27px;font-size:15px;}
}
/*--seo-section06--*/

/*--seo-section02--*/
.seo-section02{padding:70px 0;overflow:hidden;background:url(../images/webseo/seo_s2_bg.jpg) no-repeat center 0;}
.seo-section02 .tit{position:relative;padding-right:50px;width:600px;height:70px;line-height:70px;font-size:48px;text-align:center;color:#fff;}
.seo-section02 .tit:after{position:absolute;right:0;top:50%;margin-top:-23px;width:6px;height:46px;content:"";background:#f30000;}
.seo-section02 .list{margin-top:22px;width:650px;text-align:right;overflow:hidden;}
.seo-section02 .list .item{height:116px;line-height:30px;font-size:18px;color:#fff;overflow:hidden;transform:translateX(-100%);transition:all 1s ease-in-out;}
.seo-section02 .list .item p{position:relative;top:50%;transform:translateY(-50%);}
.seo-section02 .list .item:nth-child(1){transition:all 0.5s ease-in-out;}
.seo-section02 .list .item:nth-child(2){transition:all 1s ease-in-out;}
.seo-section02 .list .item:nth-child(3){transition:all 1.5s ease-in-out;}
.seo-section02 .list .item:nth-child(4){transition:all 2s ease-in-out;}
.seo-section02.active .seo-section02-cont .list .item{transform:translateX(0);}
@media (max-width:1599px){
.seo-section02 .tit{padding-right:42px;width:510px;font-size:40px;}
.seo-section02 .list{width:552px;}
}
/*--seo-section02--*/

/*--seo-section03--*/
.seo-section03{padding:60px 10px 35px;overflow:hidden;background:#fff;}
.seo-section03-cont{margin-top:60px;overflow:hidden;}
.seo-section03-cont .list{overflow:hidden;}
.seo-section03-cont .item{position:relative;float:left;padding:12px 20px;width:50%;overflow:hidden;box-sizing:border-box;transform:translateY(100%);transition:all 1s ease-in-out;}
.seo-section03-cont .pic{overflow:hidden;}
.seo-section03-cont .pic img{display:block;width:100%;}
.seo-section03-cont .text{position:absolute;top:50%;left:50px;right:50px;color:#fff;overflow:hidden;transform:translateY(-50%);}
.seo-section03-cont .text h3{font-size:48px;font-weight:normal}
.seo-section03-cont .text p{margin-top:20px;line-height:45px;font-size:18px;}
.seo-section03-cont .tips{padding-top:35px;text-align:center;font-size:18px;color:#000;overflow:hidden;}
.seo-section03.active .seo-section03-cont .list .item{transform:translateY(0);}
@media (max-width:1599px){
.seo-section03-cont{margin-top:50px;}
.seo-section03-cont .text h3{font-size:40px;}
.seo-section03-cont .text p{margin-top:17px;line-height:38px;font-size:15px;}
.seo-section03-cont .tips{padding-top:30px;font-size:15px;}
}
/*--seo-section03--*/

/*--seo-section04--*/
.seo-section04{padding:90px 0;overflow:hidden;background:url(../images/webseo/seo_s4_bg.jpg) no-repeat center;background-size:cover;background-attachment:fixed;}
.seo-section04 .wrap-title *{color:#fff;}
.seo-section04-cont{overflow:hidden;transform:translateX(200%);transition:all 1s ease-in-out;}
.seo-section04-cont .list{margin-top:60px;width:1420px;}
.seo-section04-cont .item{float:left;margin-right:20px;width:264px;height:500px;overflow:hidden;background:#fff;}
.seo-section04-cont .icon{margin:40px auto;width:100px;height:100px;}
.seo-section04-cont .icon img{display:block;width:100%;}
.seo-section04-cont .text{text-align:center;overflow:hidden;}
.seo-section04-cont .text h3{height:25px;line-height:25px;font-weight:normal;font-size:18px;color:#000;}
.seo-section04-cont .text p{font-size:16px;line-height:28px;color:#666;}
.seo-section04.active .seo-section04-cont{transform:translateX(0);}
@media (max-width:1599px){
.seo-section04{padding:76px 0;}
.seo-section04-cont .list{margin-top:50px;width:1220px;}
.seo-section04-cont .item{margin-right:16px;width:228px;}
.seo-section04-cont .text h3{font-size:16px;}
.seo-section04-cont .text p{font-size:14px;}
}
/*--end seo-section04--*/

/*--seo-section05--*/
.seo-section05{padding:90px 0;overflow:hidden;background:#f8f8f8;}
.seo-section05-cont{margin-top:68px;overflow:hidden;}
.seo-section05-cont .list{width:1460px;}
.seo-section05-cont .item{float:left;margin-right:60px;margin-bottom:35px;width:424px;overflow:hidden;background:#fff;}
.seo-section05-cont .pic{overflow:hidden;}
.seo-section05-cont .pic img{display:block;width:100%;transition:all 1s;}
.seo-section05-cont .text{padding:15px 10px;overflow:hidden;}
.seo-section05-cont .text h3{height:30px;line-height:30px;font-size:20px;color:#000;font-weight:normal;overflow:hidden;}
.seo-section05-cont .text h3 a{color:#000;}
.seo-section05-cont .text .summary{height:50px;line-height:25px;font-size:14px;color:#000;overflow:hidden;}
.seo-section05-cont .item:hover .pic img{transform:scale(1.1);}
.seo-section05-cont .item:hover .text h3 a{color:#f30000;}
.seo-section05-cont .tips{padding:20px;line-height:40px;text-align:center;font-size:24px;color:#000;overflow:hidden;background:#fff;}
@media (max-width:1599px){
.seo-section05{padding:76px 0;}
.seo-section05-cont{margin-top:60px;}
.seo-section05-cont .list{width:1250px;}
.seo-section05-cont .item{margin-right:50px;margin-bottom:30px;width:360px;}
.seo-section05-cont .tips{padding:17px;line-height:34px;font-size:20px;}
}
/*--end seo-section05--*/