@charset 'utf-8';/* 禁止滚动 */
.no-scroll{width: 100%;height: 100%;overflow: hidden;position: absolute;}

/* 弹窗 */
.deal-dialog{display: none;background-color: rgba(0, 0, 0, .5);position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 999;}
.c-3{color: #333;}
.c-6{color: #666;}
.c-e6e6e6{color: #e6e6e6;}
.deal-dialog .dialog-tip{text-align: left;margin: 0.4rem 0 0.333333rem 1.066667rem;}
.deal-dialog .deal-dialog-content{position: fixed;top: 10%;width: 8.986667rem;left: 50%;transform:translateX(-50%);-moz-transform:translateX(-50%);-webkit-transform:translateX(-50%);background-color: #fff;border-radius: 0.066667rem;-moz-border-radius: 0.066667rem;-webkit-border-radius: 0.066667rem;}
.deal-dialog .dialog-head{color: #218f37;padding: 0.4rem 0.666667rem;white-space: nowrap;border-bottom: 1px solid #ddd;}
.deal-dialog .dialog-head h2{letter-spacing: -3px;}
.deal-dialog .head-hint{font-weight: 100;margin-left: 0.266667rem;}
.deal-dialog .dialog-body{margin-top: 0;text-align: center;}
.deal-dialog .deal_cell{border:1px solid #dfdfdf;width: 8.053333rem;margin: 0 auto;padding: 0;border-radius: 0.2rem;-moz-border-radius: 0.2rem;-webkit-border-radius: 0.2rem;position: relative;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;line-height: 1.41176471;font-size: 17px;}
.deal-dialog  .triangle{width: 0;height: 0;border-left: 0.2rem solid transparent;border-right: 0.2rem solid transparent;border-top: 0.2rem solid #a7a7a7;margin-right: 0.133333rem;}
.deal-dialog .deal_label{display: block;width: 3em;white-space: nowrap;padding: 0.333333rem 0.6rem;background-color: #e6e6e6;border-top-left-radius: 0.2rem;-moz-border-top-left-radius: 0.2rem;-webkit-border-top-left-radius: 0.2rem;border-bottom-left-radius: 0.2rem;-moz-border-bottom-left-radius: 0.2rem;-webkit-border-bottom-left-radius: 0.2rem;}
.deal_cell_primary{-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;margin-left: 0.066667rem;}
.deal_cell_primary span{position: absolute;top: 0;left: 4.8rem;line-height: 1.2rem;}
.deal_cell_primary .other-phone{position: absolute;right: 0;top: 0;height: 100%;;overflow: hidden;line-height: 1.2rem;color: #666;background-color: #f2f2f2;background-color: #ddd;padding: 0 0.05rem;border-top-right-radius: 0.2rem;-moz-border-top-right-radius: 0.2rem;-webkit-border-top-right-radius: 0.2rem;border-bottom-right-radius: 0.2rem;-moz-border-bottom-right-radius: 0.2rem;-webkit-border-bottom-right-radius: 0.2rem;}
.deal-dialog .deal_cell:before{border: none;}
.deal-dialog .service-panel{background-color: #f3f3f3;}
.deal-dialog .service-wrap{border: none;width: 6.133333rem;margin:0.213333rem auto;background-color: #f3f3f3;transition:1s;-moz-transition:1s;-webkit-transition:1s;max-height: 0;padding: 0;opacity: 0;overflow: hidden;}
.deal-dialog .service-wrap.expand{opacity: 1;height: 100%;max-height: 2.0rem;padding: .226667rem 2% .226667rem 2%;}
.deal-dialog .service-list{font-size: 0;white-space: nowrap;padding-top: .11333335rem;}
.deal-dialog .service-list .active{border:1px solid #218f37;color: #218f37;}
.deal-dialog .service-list:first-child{padding: 0 0 .11333335rem 0;border-bottom: 1px dashed #c2c2c2;}
.deal-dialog .service-list span{width: 30%;display: inline-block;border:1px solid #f3f3f3;border-radius: 0.106667rem;-moz-border-radius: 0.106667rem;-webkit-border-radius: 0.106667rem;padding: 0.133333rem 0.066667rem;}
.deal-dialog .deal_input{width: 100%;text-indent: 0.133333rem;}
.deal-dialog .count-panel{padding: 0.266667rem 0;color: #218f37;letter-spacing: 2px;}
.deal-dialog .count-panel span{letter-spacing: normal;color: #ec5f26;}
.deal-dialog .btn-wrap{height: 1.133333rem;line-height: 1.133333rem;background-color: #218f37;text-align: center;width: 8.053333rem;margin: 0 auto 0.666667rem;border-radius: 0.2rem;-moz-border-radius: 0.2rem;-webkit-border-radius: 0.2rem;}
.deal-dialog .btn-wrap .button{color: #fff;}
.deal-dialog .phone-btns{display: none;}
.deal-dialog-close {position: absolute;right: 0.133333rem;top: 0.133333rem;}
.hide{display: none;}


/*底部菜单*/
nav{position:fixed;bottom:0px;width:100%; z-index:10000;}
nav li{width:25%;float:left;max-width:160px;}

/*字体统一设置*/
.box-sizing {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

.copyright-item-top {text-align: center;padding: 13px 0;border-top: 2px solid #fff;}
.copyright-item-top.active {color: #2D7CFF;border-top: 2px solid #2D7CFF;}
.copyright-item-con {background: #7393FF}
.copyright-item-con h2 {color: #fff;}

.footer-wrap {height: 1.466667rem;padding-top: 0.266667rem;background: #ededed;}
.footer-switch {overflow: hidden;height: 1.21875rem;padding: .4375rem 0 .25rem 0;text-align: center;}
.footer-switch a {display: inline-block;vertical-align: middle;text-decoration: underline;color: #009943;}
.footer-switch a i {display: block;overflow: hidden;background: url('../cssimg/ico-nav.png') no-repeat left top;background-size: .625rem 3.65625rem;}
.footer-switch a i.i-computer {width: .546875rem;height: .5625rem;background-position: 0 0;}
.footer-switch a i.i-mobile {width: .484375rem;height: .625rem;background-position: 0 -.5625rem;}
.footer-switch span.ft-line {display: inline-block;height: .53125rem;margin: -.0625rem .125rem;border-right: 1px solid #c5c5c5;vertical-align: middle;}
.footer-switch p {font-size: 12px;line-height: 2;color: #888;}
[data-dpr='2'] .footer-switch p {font-size: 24px;}
[data-dpr='3'] .footer-switch p {font-size: 36px;}
.footer-nav {position: fixed;z-index: 5;bottom: 0;left: 0;width: 100%;border-top: 1px solid #d7d7d7;font-size: 0;background-color: #f9f9f9;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;-ms-transition: all .3s ease;transition: all .3s ease;}
.footer-nav li {display: block;overflow: hidden;padding: .125rem 0;border-right: 1px solid #ededed;text-align: center;}
.footer-nav li.active {background-color: #218f37;}
.footer-nav li.active a{color: #fff;}
.footer-nav li a {display: inline-block;font-size: 12px;line-height: .5625rem;color: #888;}
[data-dpr='2'] .footer-nav li a {font-size: 24px;}
[data-dpr='3'] .footer-nav li a {font-size: 36px;}
.footer-static{position: static;}
