@charset 'utf-8';

header{background: #fff; padding:2% 0;}
header h1{width:33.4375%;}
header .title{line-height:2.35;width:56%; text-align:center;}
header .nav{width:12.0313%;}
header .back{width:15.625%;}
header .menu{width:15.625%;}
header .name{width:67.72%; text-align:center;line-height:280%;}
header .logo{ float:left;}
header .logo img{margin-top: 5px;margin-left:4px; width:100%; padding-top:5px;}
header .tel{ float:right; font-size:0.5rem; line-height:81px; color:#B3261F; font-family:"Times New Roman", Times, serif; padding-right:10px;}

.header2{ width:100%;}
.bak-header2{border-bottom:2px solid #43bcc7;}

